body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  height: 100vh;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
